.custom-logo {
  width: auto;
  min-width: 100%;
}
.navbar-color {
  background-color: white !important;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(43, 94, 165, 1);
}
#mainNav {
  /* border-bottom: 1px solid gray; */
  -webkit-box-shadow: 0px 2px 8px 0px rgba(43, 94, 165, 0.6);
  box-shadow: 0px 2px 8px 0px rgba(43, 94, 165, 0.6);
}
.carousel-control-prev {
  left: -5% !important;
}

.carousel-control-next {
  right: -5% !important;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
